<header>
  <a [routerLink]="['/home']"> knowledge Base</a>
</header>
<div class="container">
  <main>
    <article>
      <h1>{{category.title}}. </h1>
      <p>
        {{category.subtitle}}<br>
        Published: <time [dateTime]="category.createdAt">{{category.createdAt | date:'dd/MM/yyyy h:mm:ss a'}}</time>
      </p>
      <hr>

      <div class="content">
        <section>
          <a routerLink="article/1">
            <h2>Artigo</h2>
          </a>
          <span class="views-badge">50 views</span>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,

            .</p>
          <span><a routerLink="/artigo">Ler mais</a></span>
        </section>

        <section>
          <h2>Artigo</h2>
          <span class="views-badge">50 views</span>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            quia iste incidunt reiciendis
            delectus amet possimus dolores dolor, quo ad recusandae qui commodi quaerat enim quidem pariatur.</p>
          <span><a routerLink="">Ler mais</a></span>

        </section>

        <section>
          <h2>Artigo</h2>
          <span class="views-badge">50 views</span>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            quia iste incidunt reiciendis
            delectus amet possimus dolores dolor, quo ad recusandae qui commodi quaerat enim quidem pariatur.</p>
        </section>

        <section>
          <h2>Artigo</h2>
          <span class="views-badge">50 views</span>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius corrupti accusantium,
            quia iste incidunt reiciendis
            delectus amet possimus dolores dolor, quo ad recusandae qui commodi quaerat enim quidem pariatur.</p>
        </section>
      </div>
    </article>
  </main>
</div>
