<kb-header></kb-header>
<div class="container">
  <main>

    <article *ngIf="!error && !loading">
      <h1>{{category.title}}. </h1>
      <p>
        {{category.subtitle}}<br>
        Publicado em <time [dateTime]="category.createdAt">{{category.createdAt | date:'dd/MM/yyyy h:mm:ss a'}}</time>
      </p>
      <hr>

      <div class="content">

        <section *ngFor="let article of articles">
          <a routerLink="article">
            <h2>{{article.title}}</h2>
          </a>
          <span class="views-badge">{{article.viewers}} views</span>
          <p>
            {{article.content}}
          </p>
          <span><a routerLink="/artigo">Ler mais</a></span>
        </section>

      </div>

    </article>

     <h2 *ngIf="articles.length === 0 && !error">Nenhum artigo desta categoria foi publicado.</h2>

    <mat-paginator (page)="handlePageEvent($event)" [length]="totalElements" [pageSize]="10" [pageSizeOptions]="[]"
      showFirstLastButtons [hidePageSize]="true" [pageIndex]="currentPage" [pageIndex]="pageIndex"
      *ngIf="totalElements > 10">>
    </mat-paginator>

    <kb-loading [showLoading]="loading"></kb-loading>

    <kb-toast [show]="error" type='error' message="Ops ...  Um erro ocorreu, tente novamente mais tarde!"></kb-toast>
  </main>
</div>
