<header>
  <a [routerLink]="['/']">
    <mat-icon>home</mat-icon> knowledge Base
  </a>
</header>

<div class="container">

  <kb-loading [showLoading]="loading"></kb-loading>

  <main *ngIf="!loading">
    <article>
      <h1>{{category.title}}. </h1>
      <p>
        {{category.subtitle}}<br>
        Published: <time [dateTime]="category.createdAt">{{category.createdAt | date:'dd/MM/yyyy h:mm:ss a'}}</time>
      </p>
      <hr>

      <div class="content">

        <section *ngFor="let article of articles">
          <a routerLink="article">
            <h2>{{article.title}}</h2>
          </a>
          <span class="views-badge">{{article.viewers}} views</span>
          <p>
            {{article.content}}
          </p>
          <span><a routerLink="/artigo">Ler mais</a></span>
        </section>

      </div>

    </article>

    <mat-paginator (page)="handlePageEvent($event)" [length]="totalElements" [pageSize]="10" [pageSizeOptions]="[]"
      showFirstLastButtons [hidePageSize]="true" [pageIndex]="currentPage" [pageIndex]="pageIndex">>
    </mat-paginator>

  </main>
</div>
