header {
  padding: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(74, 172, 211),
    rgb(25, 125, 150)
  );
  margin-bottom: 30px;
  box-shadow: 0px 3px 3px rgb(17, 100, 121);
  font-size: 30px;
  font-family: "Roboto";
}

header a{
  color: #ffffff;
}

#header-apper{
  animation-name: toast-appear;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes header-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  80%{
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
