  <div [ngClass]="{
              'alert': 'true',
              'fade': 'true',
              'show': 'true',
              'alert-dismissible': 'true',
              'alert-danger': toastParams.type === 'error', 
              'alert-info': toastParams.type === 'info',
              'alert-success': toastParams.type === 'success'
            }" role="alert" *ngIf="show" id="toast">

    <strong>{{title}}</strong>
    <p>{{toastParams.message}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
